.winners-table-wrapper {
    width: 100%;
    @include position-column(center, center, 0);

    table {
        color: white;
        width: 100%;
        border: 1px solid $purple;
        font-size: 18px;
        border-radius: 4px;
        table-layout: fixed;
        @include big-mobile {
           table-layout: auto;
        }

        .sort {
            cursor: pointer;
        }

        tr {
            text-align: center;
            text-transform: uppercase;
            height: 67px;
        }

        thead {
            background-color:  rgba(155, 126, 218, 0.4);
            height: 35px;
        }

        div{
            @include position-line(center, center, 0.5rem)
        }
    }
}