* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

main {
    padding: 2rem 0;
}

.wrapper {
    background-image: url('../../public/background/brick_wall3.jpeg');
    min-height: 100vh;
    padding: 4rem 5rem;
    @include tablet{
        padding: 1.2rem;
    }
}