.controls {
    width: 100%;
    @include position-line(space-between, center, 2rem);

    @include responsive-transform {
        @include position-column(start, start, 0.5rem)
    }

    &__group {
        @include position-line(space-between, center, 1rem); 

        .input-wrapper {
            min-height: 80px;
            position: relative;
            @include position-column(center, center, 0.2rem);
            @include responsive-transform {
                min-height: auto;
            }
            
            .error {
                position: absolute;
                bottom: 0;
                left: 0;
                color: $error;
                font-size: 12px;
            }
        }
        
    }
}