.car-block {
    border-bottom: 3px dotted $input-grey;
    width: 100%;
    padding: 1rem 0.5rem 0 0.5rem;

    &__controls {
        @include position-column(start, center, 0.5rem);
    }

    &__track-wrapper {
        @include position-line(start, center, 2rem);
        width: 100%;
    }

    &__btn-wrapper {
        @include position-line(start, center, 0.5rem);
    }

    &__track {
        @include position-line(space-between, center, 2rem);
        width: 100%;
    }

    &__finish {
        margin-right: 4rem;
        @include big-mobile {
            margin-right: 3rem;
        }
    }

    h3 {
        @extend %neon-text;
        font-size: 25px;
        margin-left: 1rem;
    }
}